eutk-declaration/src/main/resources/schemas/common/toldsystemet_DS/toldsystemet_Declaration_DS_v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:ds="urn:wco:datamodel:WCO:Declaration_DS:DMS:2"
        targetNamespace="urn:wco:datamodel:WCO:DEC-DMS:2"
        xmlns="urn:wco:datamodel:WCO:DEC-DMS:2">
    <xs:import namespace="urn:wco:datamodel:WCO:Declaration_DS:DMS:2"
               schemaLocation="toldsystemet_DS_v1.xsd"/>
    <xs:complexType name="PreviousDocument">
        <xs:sequence>
            <xs:element name="SequenceNumeric" type="ds:PreviousDocumentSequenceNumericType"
                        minOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Fill in the sequential number of document.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CategoryCode" type="ds:PreviousDocumentCategoryCodeType"
                        minOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Possible codes:
                        - 'X': Summary declaration
                        - 'Y': Initial declaration
                        - 'Z': Preceding declaration

                        See also https://www.skat.dk/skat.aspx?oId=1658884 under the "Dok
                        kat"-column.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ID" type="ds:PreviousDocumentIdentificationIDType" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Use the MRN number of a previous document to refer to the previous
                        document.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TypeCode" type="ds:PreviousDocumentTypeCodeType" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        TypeCode should be filled according to type of document, see
                        https://www.skat.dk/skat.aspx?oId=1658884 under "Dok art"-column.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="LineNumeric" type="ds:PreviousDocumentLineNumericType"
                        minOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Item number pertaining to the previous Customs filing
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AdditionalDocument">
        <xs:sequence>
            <xs:element name="SequenceNumeric" type="ds:AdditionalDocumentSequenceNumericType" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Fill in the sequential number of the document.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CategoryCode" type="ds:AdditionalDocumentCategoryCodeType" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        This is the letter part of the document code, eg. for a 'Commercial invoice'/'Handels faktura',
                        which is 'N380',
                        the letter 'N' should be filled here.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ID" type="ds:AdditionalDocumentIdentificationIDType" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Fill in the ID number of the document.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TypeCode" type="ds:AdditionalDocumentTypeCodeType" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        This is the number part of the document code, eg. for a 'Commercial invoice'/'Handelsfaktura',
                        which is 'N380',
                        the numbers '380' should be filled here.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AdditionalInformation">
        <xs:sequence>
            <xs:element name="SequenceNumeric" type="ds:AdditionalInformationSequenceNumericType" minOccurs="1"/>
            <xs:element name="StatementCode" type="ds:AdditionalInformationStatementCodeType" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Code for specifying the additional information.
                        For codes see:
                        https://svn.taxud.gefeg.com/svn/Documentation/Archive/EUCDM%205.2/EN/EUCDM/Annex-B/i21.htm#1FMain/FData%20groups/TGroup-2/EB-2-2
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="StatementDescription" type="ds:AdditionalInformationStatementDescriptionTextType"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Free text field describing the additional information provided.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="StatementTypeCode" type="ds:AdditionalInformationStatementTypeCodeType" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Code for the type of additional information.
                        The valid codes for H7 are:
                        - ABC: Conditions of sale or purchase - Additional information regarding terms and
                        conditions which apply to the transaction.
                        - ACA: Documentary requirements - Specification of the documentary requirements. Documentary
                        requirements
                        - ACB: Additional information - Self explanatory.
                        - ACD: Reason - Reason for a request or response.
                        - AFB: Comment - Denotes that the associated text is a comment.
                        - CEX: Customs clearance instructions export - Any coded or clear instruction agreed by customer
                        and carrier regarding the export declaration of the goods.
                        - CUS: Customs declaration information - Note contains customs declaration information.
                        - TRR: Requested tariff - Stipulation of the tariffs to be applied showing,
                        where applicable, special agreement numbers or references. (Tariff Quota Order Number)
                        - ZZZ: Mutually defined - Note contains information mutually defined by trading partners.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CustomsValuation">
        <xs:sequence>
            <xs:element name="FreightChargeAmount"
                        type="ds:CustomsValuationFreightChargeAmountType" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        <type>EUCDM 5.2</type>
                        <code>4/19</code>
                        <details>
                            Transportation cost to final destination - header level.

                            If it the transportation costs are not filled on item level
                            (.../GovernmentAgencyGoodsItem/CustomsValuation/FreightChargeAmount)
                            this has to be filled.
                            If this is filled, it is the total transportation costs for all
                            the declared items.
                        </details>
                        <submission>
                            If this is filled AND
                            .../GovernmentAgencyGoodsItem/CustomsValuation/FreightChargeAmount
                            is also filled for each item, this must be the sum of the
                            FreightChargeAmount for all items.
                        </submission>
                        <amendment>
                            Can be corrected for an amendment.
                        </amendment>
                        <correction>
                            Can be corrected for a correction.
                        </correction>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DomesticDutyTaxParty">
        <xs:sequence>
            <xs:element name="SequenceNumeric" type="ds:DomesticDutyTaxPartySequenceNumericType" minOccurs="1"/>
            <xs:element name="ID" type="ds:DomesticDutyTaxPartyIdentificationIDType" minOccurs="0"/>
            <xs:element name="RoleCode" type="ds:DomesticDutyTaxPartyRoleCodeType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Role Codes:

                        - 'FR5': Vendor (IOSS) - Taxable person making use of the
                        special scheme for distance sales of goods imported from
                        third countries and territories set out in Title XII Chapter
                        6 Section 4 of Directive 2006/112/EC and holder of the VAT
                        identification number referred to in Article 369q therein.

                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UCR">
        <xs:sequence>
            <xs:element name="TraderAssignedReferenceID" type="ds:UCRTraderAssignedReferenceIDType" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Address-Require-All">
        <xs:sequence>
            <xs:element name="CityName" type="ds:AddressCityNameTextType" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        City name.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CountryCode" type="ds:AddressCountryCodeType" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Country code.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Line" type="ds:AddressLineTextType" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Address Line.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PostcodeID" type="ds:AddressPostcodeIDType" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Post code.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Address-Require-Type-Country">
        <xs:sequence>
            <xs:element name="TypeCode" type="ds:AddressTypeCodeType"
                        minOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        Qualifier of identification
                        Codes relevant for H7:
                        - 'U': UN/LOCODE
                        - 'V': Customs office identifier
                        - 'Z': Free text (Fill in
                        GoodsLocation/Address/... fields)
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CityName"
                        type="ds:AddressCityNameTextType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        City Name.
                        Should only be filled when Address/TypeCode is
                        'Z'.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CountryCode"
                        type="ds:AddressCountryCodeType" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Country code.
                        The country code should always be filled.
                        Fill in 'DK'.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Line" type="ds:AddressLineTextType"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Address Line.
                        Should only be filled when Address/TypeCode is
                        'Z'.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PostcodeID"
                        type="ds:AddressPostcodeIDType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Post code.
                        Should only be filled when Address/TypeCode is
                        'Z'.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Submitter">
        <xs:sequence>
            <xs:element name="Name" type="ds:SubmitterNameTextType" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        <details>
                            The CVR/SE-number/EORI given by the client certificate used for the submission
                            of declarations.
                        </details>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ID" type="ds:SubmitterIdentificationIDType" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        <details>
                            The CVR/SE-number/EORI given by the client certificate used for the submission
                            of declarations.
                        </details>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="GoodsShipment-H7">
        <xs:sequence>
            <xs:element name="AdditionalDocument" minOccurs="0" maxOccurs="unbounded" type="AdditionalDocument">
                <xs:annotation>
                    <xs:documentation>
                        <type>EUCDM 5.2</type>
                        <code>2/3</code>
                        <details>
                            All subfields have to be filled, if one is filled.

                            For information on which codes to use, see here:
                            https://www.skat.dk/skat.aspx?oId=109749
                            https://www.skat.dk/skat.aspx?oId=109751
                            https://unece.org/fileadmin/DAM/trade/untdid/d16b/tred/tred1001.htm
                        </details>
                        <submission>
                            See details above.
                        </submission>
                        <amendment>
                            No subfields can be corrected for an amendment.
                        </amendment>
                        <correction>
                            All subfields can be corrected for a correction.
                        </correction>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AdditionalInformation" minOccurs="0" maxOccurs="unbounded" type="AdditionalInformation">
                <xs:annotation>
                    <xs:documentation>
                        <type>EUCDM 5.2</type>
                        <code>2/2</code>
                        <details>
                            Used for any additional information.
                            If filled, both codes (StatementCode and StatementTypeCode) have to
                            be filled.
                        </details>
                        <submission>
                            See details above or under the subfields below.
                        </submission>
                        <amendment>
                            No subfields can be corrected for an amendment.
                        </amendment>
                        <correction>
                            All subfields can be corrected for a correction.
                        </correction>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Consignment" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Mandatory for an IMA.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="GoodsLocation" minOccurs="1" maxOccurs="1" type="GoodsLocation">
                            <xs:annotation>
                                <xs:documentation>
                                    <type>EUCDM 5.2</type>
                                    <code>5/23</code>
                                    <details>
                                        The location of goods.
                                        Mandatory for an IMA.
                                        Mandatory for an I2 if not specified on initial pre-lodged H7
                                        declaration.

                                        The first TypeCode (.../GoodsLocation/TypeCode) will indicate the
                                        type of location where the goods will be presented.
                                        The TypeCodes are:
                                        - 'A' (Designated place)
                                        - 'C' (Approved place)
                                        - 'D' (Other)

                                        The Address/TypeCode will indicate how the location will be
                                        declared/described.
                                        The Address/TypeCodes are:
                                        - 'U' (UN/LOCODE)
                                        - 'V' (Customs Office ID)
                                        - 'Z' (Free text)

                                        Valid combinations of GoodsLocation/TypeCode and
                                        GoodsLocation/Address/TypeCode are:

                                        - 'A' and 'U': UN/LOCODE (eg. DKCPH for Copenhagen)
                                        - 'A' and 'V': Customs Office ID (eg. 007900 for Skattecenter
                                        København)
                                        - 'C' and 'Z': The address will be declared by filling in the name
                                        of the location and the address fields.
                                        - 'D' and 'Z': The address will be declared by filling in the name
                                        of the location and the address fields.

                                    </details>
                                </xs:documentation>
                            </xs:annotation>
                            </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="CustomsValuation" minOccurs="0" maxOccurs="1" type="CustomsValuation">
            </xs:element>
            <xs:element name="DomesticDutyTaxParty" minOccurs="0" maxOccurs="unbounded" type="DomesticDutyTaxParty">
                <xs:annotation>
                    <xs:documentation>
                        <type>EUCDM 5.2</type>
                        <code>3/40</code>
                        <details>
                            Additional fiscal references.
                            Required by DMS if RoleCode = 'FR5' (IOSS). Can either be filled out with IOSS
                            number or VAT number.
                            If filled, this applies to all goods items in the declaration.
                        </details>
                        <submission>
                            See details above.
                        </submission>
                        <amendment>
                            No subfields can be corrected for an amendment.
                        </amendment>
                        <correction>
                            All subfields can be corrected for a correction.
                        </correction>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="GovernmentAgencyGoodsItem" minOccurs="1" maxOccurs="999">
                <xs:annotation>
                    <xs:documentation>
                        <details>
                            H7 Item.
                        </details>
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="CustomsValueAmount"
                                    type="ds:GovernmentAgencyGoodsItemCustomsValueAmountType" minOccurs="1">
                            <xs:annotation>
                                <xs:documentation>
                                    <type>EUCDM 5.2</type>
                                    <code>4/18</code>
                                    <details>
                                        The value of the imported item. Written as CurrencyCode + Value, eg:
                                        <CustomsValueAmount currencyID="DKK">160.00</CustomsValueAmount>

                                        Any currency code is allowed.
                                    </details>
                                    <submission>
                                        See details above.
                                    </submission>
                                    <amendment>
                                        Can be corrected for an amendment.
                                    </amendment>
                                    <correction>
                                        Can be corrected for a correction.
                                    </correction>
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="SequenceNumeric"
                                    type="ds:GovernmentAgencyGoodsItemSequenceNumericType" minOccurs="1">
                            <xs:annotation>
                                <xs:documentation>
                                    <type>EUCDM 5.2</type>
                                    <code>1/6</code>
                                    <details>
                                        Goods item number. The sequence identifier. Has to be sequential.
                                        Start at 1.
                                    </details>
                                    <submission>
                                        See details above.
                                    </submission>
                                    <amendment>
                                        Can not be corrected for an amendment.
                                    </amendment>
                                    <correction>
                                        Can be corrected for a correction.
                                    </correction>
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="AdditionalDocument" minOccurs="0" maxOccurs="unbounded"
                                    type="AdditionalDocument">
                            <xs:annotation>
                                <xs:documentation>
                                    <type>EUCDM 5.2</type>
                                    <code>2/3</code>
                                    <details>
                                        Used for any additional documents.
                                        All subfields have to be filled, if one is filled.

                                        For information on which codes to fill in the subfields, see here:
                                        https://www.skat.dk/skat.aspx?oId=109749
                                        https://www.skat.dk/skat.aspx?oId=109751
                                        https://unece.org/fileadmin/DAM/trade/untdid/d16b/tred/tred1001.htm
                                    </details>
                                    <submission>
                                        See details above.
                                    </submission>
                                    <amendment>
                                        No subfields can be corrected for an amendment.
                                    </amendment>
                                    <correction>
                                        All subfields can be corrected for a correction.
                                    </correction>
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="AdditionalInformation" minOccurs="0" maxOccurs="unbounded"
                                    type="AdditionalInformation">
                            <xs:annotation>
                                <xs:documentation>
                                    <type>EUCDM 5.2</type>
                                    <code>2/2</code>
                                    <details>
                                        Used for any additional information.
                                        If filled, both codes (StatementCode and StatementTypeCode) have to
                                        be filled.
                                    </details>
                                    <submission>
                                        See details above or under the subfields below.
                                    </submission>
                                    <amendment>
                                        No subfields can be corrected for an amendment.
                                    </amendment>
                                    <correction>
                                        All subfields can be corrected for a correction.
                                    </correction>
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="Commodity" type="Commodity-H7">
                        </xs:element>
                        <xs:element name="Consignor" minOccurs="0" maxOccurs="1" type="Address-Require-All">
                            <xs:annotation>
                                <xs:documentation>
                                    <type>EUCDM 5.2</type>
                                    <code>3/1</code>
                                    <details>
                                        Item level exporter information.
                                        This applies to the specific item.
                                    </details>
                                    <submission>
                                        If D.E 3/1 - .../Exporter is not filled, this must be filled.
                                    </submission>
                                    <amendment>
                                        No subfields can be corrected for an amendment.
                                    </amendment>
                                    <correction>
                                        All subfields can be corrected for a correction.
                                    </correction>
                                </xs:documentation>
                            </xs:annotation>
                            </xs:element>
                        <xs:element name="CustomsValuation" minOccurs="0" maxOccurs="1" type="CustomsValuation"/>
                        <xs:element name="DomesticDutyTaxParty" minOccurs="0" maxOccurs="unbounded"
                                    type="DomesticDutyTaxParty">
                            <xs:annotation>
                                <xs:documentation>
                                    <type>EUCDM 5.2</type>
                                    <code>3/40</code>
                                    <details>
                                        Additional fiscal references
                                        Required by DMS if RoleCode = 'FR5' (IOSS). Can either be filled out
                                        with IOSS number or VAT number.
                                    </details>
                                    <submission>
                                        If it is the same for all items in the declaration, fill in the
                                        field on header level instead:
                                        Declaration/GoodsShipment/DomesticDutyTaxParty.
                                    </submission>
                                    <amendment>
                                        No subfields can be corrected for an amendment.
                                    </amendment>
                                    <correction>
                                        All subfields can be corrected for a correction.
                                    </correction>
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="GovernmentProcedure" minOccurs="2" maxOccurs="3">
                            <xs:annotation>
                                <xs:documentation>
                                    <type>DMS specific field</type>
                                    <code>1/10 and 1/11</code>
                                    <details>
                                        There should be declared to separate fields of GovernmentProcedure -
                                        one for EUCDM 5.2 D.E 1/10 and one for EUCDM 5.2 D.E 1/11:

                                        For the first one - 1/10:
                                        Both CurrentCode and PreviousCode is mandatory.
                                        - CurrentCode should always be '40' for an H7
                                        - PreviousCode should always be '00' for an H7

                                        For the second one - 1/11:
                                        Only CurrentCode is mandatory.
                                        - CurrentCode should either be 'C07' or 'C08' or 'F48' or 'F49'.
                                        For guidance see: https://www.skat.dk/skat.aspx?oId=109754
                                    </details>
                                    <submission>
                                        See details above.
                                    </submission>
                                    <amendment>
                                        No subfields can be corrected for an amendment.
                                    </amendment>
                                    <correction>
                                        All subfields can be corrected for a correction.
                                    </correction>
                                </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="SequenceNumeric"
                                                type="ds:GovernmentProcedureSequenceNumericType"
                                                minOccurs="1"/>
                                    <xs:element name="CurrentCode"
                                                type="ds:GovernmentProcedureCurrentCodeType" minOccurs="1"/>
                                    <xs:element name="PreviousCode"
                                                type="ds:GovernmentProcedurePreviousCodeType"
                                                minOccurs="0"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="Packaging" minOccurs="1" maxOccurs="unbounded" type="Packaging-H7">
                            <xs:annotation>
                                <xs:documentation>
                                    <type>EUCDM 5.2</type>
                                    <code>6/10</code>
                                    <details>
                                        Number of packages.
                                    </details>
                                    <submission>
                                        See details above or under the subfields below.
                                    </submission>
                                    <amendment>
                                        No subfields can be corrected for an amendment.
                                    </amendment>
                                    <correction>
                                        All subfields can be corrected for a correction.
                                    </correction>
                                </xs:documentation>
                            </xs:annotation>
                            </xs:element>
                        <xs:element name="PreviousDocument" minOccurs="1" maxOccurs="unbounded" type="PreviousDocument">
                            <xs:annotation>
                                <xs:documentation>
                                    <type>EUCDM 5.2</type>
                                    <code>2/1</code>
                                    <details>
                                        If one subfield is filled, all subfields have to be filled.

                                        - CategoryCode should be filled with:
                                        - 'X': Summary declaration
                                        - 'Y': Initial declaration
                                        - 'Z': Preceding declaration

                                        - TypeCode should be filled according to type of document, see
                                        https://www.skat.dk/skat.aspx?oId=1658884 under "Dok art"-column.
                                    </details>
                                    <submission>
                                        See details above or under the subfields below.
                                    </submission>
                                    <amendment>
                                        No subfields can be corrected for an amendment.
                                    </amendment>
                                    <correction>
                                        All subfields can be corrected for a correction.
                                    </correction>
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="UCR" minOccurs="0" maxOccurs="1" type="UCR">
                            <xs:annotation>
                                <xs:documentation>
                                    <type>EUCDM 5.2</type>
                                    <code>2/4</code>
                                    <details>
                                        Unique number that follows the good all the way. Used by
                                        transporters.
                                    </details>
                                    <submission>
                                        See details above.
                                    </submission>
                                    <amendment>
                                        Can not be corrected for an amendment.
                                    </amendment>
                                    <correction>
                                        Can be corrected for a correction.
                                    </correction>
                                </xs:documentation>
                            </xs:annotation>

                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Importer">
                <xs:annotation>
                    <xs:documentation>
                        <details>
                            - If .../Importer/ID is 'DK09999981' all of the .../Importer/Address/* subfields
                            should be filled.
                            - If .../Importer/ID is 'DK09999981' .../Importer/Name should be filled.

                            - If .../Importer/ID is not 'DK09999981' only subfield CountryCode in
                            .../Importer/Address/* should be filled.
                            - If .../Importer/ID is not 'DK09999981' .../Importer/Name should not be filled.
                        </details>
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Name" type="ds:ImporterNameTextType" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>
                                    <type>EUCDM 5.2</type>
                                    <code>3/15</code>
                                    <details>
                                        Importer name.

                                        NB: Only the following special characters are allowed: ' ( ) " . , _ \ /
                                    </details>
                                    <submission>
                                        If .../Importer/ID is 'DK09999981' this should be filled.
                                        If .../Importer/ID is not 'DK09999981' this should not be filled.
                                    </submission>
                                    <amendment>
                                        Can not be corrected for an amendment.
                                    </amendment>
                                    <correction>
                                        Can be corrected for a correction.
                                    </correction>
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="ID" type="ds:ImporterIdentificationIDType" minOccurs="1">
                            <xs:annotation>
                                <xs:documentation>
                                    <type>EUCDM 5.2</type>
                                    <code>3/16</code>
                                    <details>
                                        EORI.
                                    </details>
                                    <submission>
                                        See details above.
                                    </submission>
                                    <amendment>
                                        Can not be corrected for an amendment.
                                    </amendment>
                                    <correction>
                                        Can be corrected for a correction.
                                    </correction>
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="Address" minOccurs="1" type="Address-Require-Type-Country">
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="PreviousDocument" minOccurs="1" maxOccurs="unbounded" type="PreviousDocument">
            </xs:element>
            <xs:element name="UCR" minOccurs="0" maxOccurs="1" type="UCR">
                <xs:annotation>
                    <xs:documentation>
                        <type>EUCDM 5.2</type>
                        <code>2/4</code>
                        <details>
                            Unique number that follows the good all the way. Used by transporters.
                        </details>
                        <submission>
                            See details above.
                        </submission>
                        <amendment>
                            Can not be corrected for an amendment.
                        </amendment>
                        <correction>
                            Can be corrected for a correction.
                        </correction>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Consignment-I2">
        <xs:sequence>
            <xs:element name="GoodsLocation" minOccurs="1" type="GoodsLocation">
                <xs:annotation>
                    <xs:documentation>
                        <type>EUCDM 5.2</type>
                        <code>5/23</code>
                        <details>
                            The location of goods.
                            Mandatory for an I2 if not specified on initial pre-lodged H7
                            declaration.

                            Valid combinations of GoodsLocation/TypeCode and
                            GoodsLocation/Address/TypeCode:

                            - GoodsLocation/TypeCode 'A' (Designated place):
                            - GoodsLocation/Address/TypeCode: 'U' (UN/LOCODE)
                            - GoodsLocation/Address/TypeCode: 'V' (Customs office identifier)

                            - GoodsLocation/TypeCode 'C' (Approved place):
                            - GoodsLocation/Address/TypeCode: 'Z' (Free text - address)

                            - GoodsLocation/TypeCode 'D' (Other):
                            - GoodsLocation/Address/TypeCode: 'Z' (Free text - address)
                        </details>
                    </xs:documentation>
                </xs:annotation>
                </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GovernmentAgencyGoodsItem-I2">
        <xs:sequence>
            <xs:element name="SequenceNumeric"
                        type="ds:GovernmentAgencyGoodsItemSequenceNumericType"
                        minOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        <type>EUCDM 5.2</type>
                        <code>1/6</code>
                        <details>
                            Goods item number.
                            If filled, and is also filled on initial H7 declaration,
                            it is validated against initial declaration and they
                            must be the same.
                        </details>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Commodity">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="GoodsMeasure" minOccurs="0" maxOccurs="1">
                        </xs:element>
                        <xs:element name="TransportEquipment" minOccurs="0"
                                    maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation>
                                    <type>EUCDM 5.2</type>
                                    <code>7/10</code>
                                    <details>
                                        Container identification
                                    </details>
                                </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="SequenceNumeric"
                                                type="ds:TransportEquipmentSequenceNumericType"
                                                minOccurs="1"/>
                                    <xs:element name="ID"
                                                type="ds:TransportEquipmentIdentificationIDType"
                                                minOccurs="1">
                                        <xs:annotation>
                                            <xs:documentation>
                                                Container identification number.

                                                If filled, and is also filled on
                                                initial H7 declaration, it is
                                                validated against initial
                                                declaration and they must be the
                                                same.
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Packaging" minOccurs="0" maxOccurs="unbounded" type="Packaging-I2">
                </xs:element>
            <xs:element name="PreviousDocument" minOccurs="0" maxOccurs="unbounded" type="PreviousDocument">
                <xs:annotation>
                    <xs:documentation>
                        <type>EUCDM 5.2</type>
                        <code>2/1</code>
                        <details>
                            If one subfield is filled, all subfields have to be
                            filled.

                            - CategoryCode should be filled with:
                            - 'X': Summary declaration
                            - 'Y': Initial declaration
                            - 'Z': Preceding declaration

                            - TypeCode should be filled according to type of
                            document, see https://www.skat.dk/skat.aspx?oId=1658884
                            under "Dok art"-column.
                        </details>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Commodity-H7">
        <xs:sequence>
            <xs:element name="Description" type="ds:CommodityDescriptionTextType"
                        minOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        <type>EUCDM 5.2</type>
                        <code>6/8</code>
                        <details>Free text field - short description of the goods item.</details>
                        <submission>
                            See details above.
                        </submission>
                        <amendment>
                            Can not be corrected for an amendment.
                        </amendment>
                        <correction>
                            Can be corrected for a correction.
                        </correction>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Classification" minOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="SequenceNumeric"
                                    type="ds:CommodityClassificationSequenceNumericType"
                                    minOccurs="1">
                            <xs:annotation>
                                <xs:documentation>
                                    <submission>
                                        Fill in sequential numbers.
                                    </submission>
                                    <amendment>
                                        Can not be corrected for an amendment.
                                    </amendment>
                                    <correction>
                                        Can be corrected for a correction.
                                    </correction>
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="ID"
                                    type="ds:ClassificationIdentificationIDType"
                                    minOccurs="1">
                            <xs:annotation>
                                <xs:documentation>
                                    <type>EUCDM 5.2</type>
                                    <code>6/14</code>
                                    <details>
                                        Type of goods.
                                        6 characters.
                                        For relevant commodity codes see:
                                        https://skat.dk/skat.aspx?oid=2247456
                                    </details>
                                    <submission>
                                        See details above.
                                    </submission>
                                    <amendment>
                                        Can be corrected for an amendment.
                                    </amendment>
                                    <correction>
                                        Can be corrected for a correction.
                                    </correction>
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="IdentificationTypeCode"
                                    type="ds:ClassificationIdentificationTypeCodeType"
                                    minOccurs="1">
                            <xs:annotation>
                                <xs:documentation>
                                    <type>DMS Specific field</type>
                                    <details>
                                        Set to TSP for all H7 declarations.
                                        Scheduled for future removal.
                                    </details>
                                    <submission>
                                        Fill in 'TSP' for submission.
                                    </submission>
                                    <amendment>
                                        Fill in 'TSP' for an amendment.
                                    </amendment>
                                    <correction>
                                        Fill in 'TSP' for a correction.
                                    </correction>
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GoodsMeasure" minOccurs="1" maxOccurs="1" type="GoodsMeasure-H7">
                </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GoodsMeasure-H7">
        <xs:sequence>
            <xs:element name="GrossMassMeasure"
                        type="ds:GoodsMeasureGrossMassMeasureType"
                        minOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        <type>EUCDM 5.2</type>
                        <code>6/5</code>
                        <details>
                            Weight of the goods item.
                        </details>
                        <submission>
                            See details above.
                        </submission>
                        <amendment>
                            Can not be corrected for an amendment.
                        </amendment>
                        <correction>
                            Can be corrected for a correction.
                        </correction>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TariffQuantity"
                        type="ds:GoodsMeasureTariffQuantityType"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        <type>EUCDM 5.2</type>
                        <code>6/2</code>
                        <details>
                            Only needed if CurrentCode 'C08' AND if it concerns goods referred to in Article
                            27 of Regulation (EC) No 1186/2009:
                            - Tobacco products
                            - Alcohols and alcoholic beverages
                            - Perfumes and toilet waters

                            For more details see:
                            https://eur-lex.europa.eu/legal-content/EN/TXT/HTML/?uri=CELEX:32009R1186
                        </details>
                        <submission>
                            See details above.
                        </submission>
                        <amendment>
                            Can not be corrected for an amendment.
                        </amendment>
                        <correction>
                            Can be corrected for a correction.
                        </correction>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GoodsMeasure-I2">
        <xs:sequence>
            <xs:element name="GrossMassMeasure"
                        type="ds:GoodsMeasureGrossMassMeasureType"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        <type>EUCDM 5.2</type>
                        <code>6/5</code>
                        <details>
                            Gross mass in kilograms.
                            The gross mass is the weight of
                            goods including packaging, but
                            excluding the carrier's
                            equipment for the declaration.

                            This information shall only be
                            provided if the discharge of the
                            goods under temporary storage
                            concerns only parts of the
                            declaration for
                            temporary storage lodged
                            previously in relation with the
                            goods concerned.

                            If filled, and is also filled on
                            initial H7 declaration, it is
                            validated against initial
                            declaration and they must be the
                            same.
                        </details>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Packaging-H7">
        <xs:sequence>
            <xs:element name="SequenceNumeric"
                        type="ds:PackagingSequenceNumericType" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        <type>DMS specific field</type>
                        <details>
                            DMS currently requires this. Fill in sequential numbers.
                        </details>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="QuantityQuantity"
                        type="ds:PackagingQuantityQuantityType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Number of packages.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Packaging-I2">
        <xs:sequence>
            <xs:element name="SequenceNumeric"
                        type="ds:PackagingSequenceNumericType"
                        minOccurs="1"/>
            <xs:element name="QuantityQuantity"
                        type="ds:PackagingQuantityQuantityType"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        <type>EUCDM 5.2</type>
                        <code>6/10</code>
                        <details>
                            Number of packages.

                            This information shall only be provided if
                            the discharge of the goods under
                            temporary storage concerns only parts of the
                            declaration for temporary storage
                            lodged previously in relation with the goods
                            concerned.

                            If filled, and is also filled on initial H7
                            declaration, it is validated against initial
                            declaration and they must be the same.
                        </details>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TypeCode" type="ds:PackagingTypeCodeType"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        <type>EUCDM 5.2</type>
                        <code>6/9</code>
                        <details>
                            Type of packages.

                            This information shall only be provided if
                            the discharge of the goods under
                            temporary storage concerns only parts of the
                            declaration for temporary storage
                            lodged previously in relation with the goods
                            concerned.

                            If filled, and is also filled on initial H7
                            declaration, it is validated against initial
                            declaration and they must be the same.
                        </details>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GoodsLocation">
        <xs:sequence>
            <xs:element name="Name" type="ds:GoodsLocationNameTextType"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        Identification of location.
                        If
                        - GoodsLocation/Address/TypeCode = 'U' this field should be
                        the UN/LOCODE (eg. 'DKCPH')

                        - GoodsLocation/Address/TypeCode = 'V' this field should be
                        the first part of the Customs Office ID (eg. 'DK00')

                        - GoodsLocation/Address/TypeCode = 'Z' this field should be
                        filled with the name of the location
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ID" type="ds:GoodsLocationIdentificationIDType"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        ID qualifier code.
                        If
                        - GoodsLocation/Address/TypeCode = 'U': The additional
                        identifier of the UN/LOCODE
                        (eg. '0011', which together with the Name (ie. 'DKCPH') is
                        DKCPH-0011 which indicates
                        Langelinie in Copenhagen)

                        - GoodsLocation/Address/TypeCode = 'V': The number part of
                        the Customs office ID
                        (eg. 7900, which together with the Name (ie. 'DK00') is
                        DK007900 which indicates Skattecenter København)
                        See the list of Customs Office ID's here:
                        https://ec.europa.eu/taxation_customs/dds2/rd/rd_search_home.jsp?Lang=en

                        - GoodsLocation/TypeCode = 'C' and
                        GoodsLocation/Address/TypeCode = 'Z': This field should be filled with
                        the ID
                        the approved place.

                        - GoodsLocation/TypeCode = 'D' and
                        GoodsLocation/Address/TypeCode = 'Z': This field should not
                        be filled
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TypeCode" type="ds:GoodsLocationTypeCodeType"
                        minOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Type of location.
                        - 'A': Designated place (can be combined with
                        GoodsLocation/Address/TypeCode: 'U' and 'V')
                        - 'C': Approved place (can be combined with
                        GoodsLocation/Address/TypeCode: 'Z')
                        - 'D': Other (can be combined with
                        GoodsLocation/Address/TypeCode: 'Z')
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Address" type="Address-Require-Type-Country">
            </xs:element>
        </xs:sequence>
    </xs:complexType>



</xs:schema>